pathlib_mate                            # local file system
smart_open                              # IO
s3pathlib                               # s3 file system
Faker                                   # create dummy data
mpire                                   # multi process
rich                                    # debug
awswrangler

sqlalchemy                              # SQL db
pyathena
PyAthena[Pandas]
PyAthena[SQLAlchemy]
prettytable                             # ascii table

