attrs== 21.4.0
attrs_mate==1.0.2
pathlib_mate==1.0.3
boto3==1.22.9
botocore==1.25.9
boto-session-manager==0.0.4
s3pathlib==1.0.10
Faker==11.3.0
numpy==1.21.2
pandas==1.3.3
awswrangler==2.12.1
rich==12.3.0
